In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/jiedeng/anaconda3/lib/python3.10/site-packages (9.4.0)

In [2]:
import mysql.connector as connector

connection = connector.connect(
    host="127.0.0.1",
    user="root",
    password="MyStrongPass!23",
    database="littlelemondb"   # or whichever DB you created
)

if connection.is_connected():
    print("✅ Successfully connected to MySQL")

✅ Successfully connected to MySQL

In [3]:
cursor = connection.cursor()


show_tables_query = "SHOW TABLES"
cursor.execute(show_tables_query)

for table in cursor.fetchall():
    print(table)

('Bookings',)
('Customers',)
('Menu',)
('Order_Delivery_Status',)
('Orders',)
('ordersview',)
('Staff',)

In [4]:
import pandas as pd

query = """
SELECT 
    c.CustomerID,
    c.CustomerName,
    c.CustomerContact,
    o.TotalCost
FROM Customers AS c
JOIN Bookings AS b
    ON c.CustomerID = b.CustomerID
JOIN Orders AS o
    ON b.BookingID = o.BookingID
WHERE o.TotalCost > 60;
"""

cursor.execute(query)
rows = cursor.fetchall()
cols = [desc[0] for desc in cursor.description]


df = pd.DataFrame(rows, columns=cols)
print(df)

   CustomerID CustomerName     CustomerContact TotalCost
0         102   Liam Smith  liam.s@example.com    200.00

In [5]:
cursor.close()
connection.close()